<section class="hero_single version_1">
	<div class="wrapper">
		<div class="container">
			<h3>Mọi thứ ở đây đều thật tuyệt vời!</h3>
			<p>Tìm kiếm nhà hàng mà bạn mong muốn</p>
			<div class="row justify-content-center">
				<div class="col-lg-9">
					<form method="post" action="grid-listings-filterstop.html">
						<div class="row no-gutters custom-search-input-2">
							<div class="col-lg-9">
								<div class="form-group">
									<input class="form-control" type="text" placeholder="Bạn đang muốn tìm ...">
									<i class="fas fa-search"></i>
								</div>
							</div>
							<div class="col-lg-3">
								<input type="submit" value="Tìm kiếm">
							</div>
						</div>
						<!-- /row -->
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container margin_60_35">
	<div class="main_title_3">
		<h2>Nhà hàng được đánh giá cao nhất</h2>
		<%= link_to "Xem tất cả", restaurant_index_path %>
	</div>
	<div class="row justify-content-center">
		<% @best_res.each do |r| %>
		<div class="col-lg-4 col-sm-6">
			<%= link_to restaurant_path(r), class: "grid_item" do %>
				<figure>
					<img src="assets/img/box_cat_home_1.jpg" alt="">
					<div class="info">
						<small><i class="fas fa-comment"></i> <%= r.comments.count %> Reviews</small>
						<span class="rating">
							<% (1..5).each do |i| %>
								<% if i <= r.vote_num %>
								<i class="fas fa-star"></i>
								<% elsif (i - r.vote_num) <1 %>
								<i class="fas fa-star-half-alt"></i>
								<% else %>
								<i class="far fa-star"></i>
								<% end %>
							<% end %>
							<span class="text-white"><%= r.vote_num %>/5.0</span>
						</span>
						<h3><%= r.name %></h3>
					</div>
				</figure>
			<% end %>
		</div>
		<% end %>
		<!-- /grid_item -->
	</div>
	<!-- /row -->
</div>
<!-- /container -->

<div class="bg_color_1">
	<div class="container margin_60">
		<div class="main_title_3">
			<h2>Review mới nhất</h2>
			<%= link_to "Xem tất cả", restaurant_index_path %>
		</div>
		<div class="row justify-content-center">
			<% @recent_res.each do |r| %>
			<div class="col-lg-4 col-sm-6">
				<a href="grid-listings-filterstop.html" class="grid_item">
					<figure>
						<img src="assets/img/box_cat_home_1.jpg" alt="">
						<div class="info">
							<small><i class="fas fa-comment"></i> <%= r.comments.count %> Reviews</small>
							<span class="rating">
								<% (1..5).each do |i| %>
									<% if i <= r.vote_num %>
									<i class="fas fa-star"></i>
									<% elsif (i - r.vote_num) <1 %>
									<i class="fas fa-star-half-alt"></i>
									<% else %>
									<i class="far fa-star"></i>
									<% end %>
								<% end %>
								<span class="text-white"><%= r.vote_num %>/5.0</span>
							</span>
							<h3><%= r.name %></h3>
						</div>
					</figure>
				</a>
			</div>
			<% end %>
			<!-- /grid_item -->
		</div>

		<div id="reccomended" class="owl-carousel owl-theme">
			<div class="item">
				<div class="review_listing">
					<div class="clearfix">
						<figure><img src="assets/img/avatar.jpg" alt=""></figure>
						<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
					</div>
					<h3><strong>Khoa Nguyễn</strong> đánh giá <a href="reviews-page.html">Bún đậu mắm tôm bà Thu</a></h3>
					<h4>"Thật tuyệt vời"</h4>
					<p>Hương vị bún đậu kết hợp mắm tôm thật đậm đà</p>
					<ul class="clearfix">
						<li><small>Ngày đăng: 26.08.2018</small></li>
						<li><a href="reviews-page.html" class="btn_1 small">Đọc đánh giá</a></li>
					</ul>
				</div>
			</div>

			<div class="item">
				<div class="review_listing">
					<div class="clearfix">
						<figure><img src="assets/img/avatar.jpg" alt=""></figure>
						<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
					</div>
					<h3><strong>Khoa Nguyễn</strong> đánh giá <a href="reviews-page.html">Bún đậu mắm tôm bà Thu</a></h3>
					<h4>"Thật tuyệt vời"</h4>
					<p>Hương vị bún đậu kết hợp mắm tôm thật đậm đà</p>
					<ul class="clearfix">
						<li><small>Ngày đăng: 26.08.2018</small></li>
						<li><a href="reviews-page.html" class="btn_1 small">Đọc đánh giá</a></li>
					</ul>
				</div>
			</div>

			<div class="item">
				<div class="review_listing">
					<div class="clearfix">
						<figure><img src="assets/img/avatar.jpg" alt=""></figure>
						<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
					</div>
					<h3><strong>Khoa Nguyễn</strong> đánh giá <a href="reviews-page.html">Bún đậu mắm tôm bà Thu</a></h3>
					<h4>"Thật tuyệt vời"</h4>
					<p>Hương vị bún đậu kết hợp mắm tôm thật đậm đà</p>
					<ul class="clearfix">
						<li><small>Ngày đăng: 26.08.2018</small></li>
						<li><a href="reviews-page.html" class="btn_1 small">Đọc đánh giá</a></li>
					</ul>
				</div>
			</div>

			<div class="item">
				<div class="review_listing">
					<div class="clearfix">
						<figure><img src="assets/img/avatar.jpg" alt=""></figure>
						<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
					</div>
					<h3><strong>Khoa Nguyễn</strong> đánh giá <a href="reviews-page.html">Bún đậu mắm tôm bà Thu</a></h3>
					<h4>"Thật tuyệt vời"</h4>
					<p>Hương vị bún đậu kết hợp mắm tôm thật đậm đà</p>
					<ul class="clearfix">
						<li><small>Ngày đăng: 26.08.2018</small></li>
						<li><a href="reviews-page.html" class="btn_1 small">Đọc đánh giá</a></li>
					</ul>
				</div>
			</div>

			<div class="item">
				<div class="review_listing">
					<div class="clearfix">
						<figure><img src="assets/img/avatar.jpg" alt=""></figure>
						<span class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><em>4.50/5.00</em></span>
					</div>
					<h3><strong>Khoa Nguyễn</strong> đánh giá <a href="reviews-page.html">Bún đậu mắm tôm bà Thu</a></h3>
					<h4>"Thật tuyệt vời"</h4>
					<p>Hương vị bún đậu kết hợp mắm tôm thật đậm đà</p>
					<ul class="clearfix">
						<li><small>Ngày đăng: 26.08.2018</small></li>
						<li><a href="reviews-page.html" class="btn_1 small">Đọc đánh giá</a></li>
					</ul>
				</div>
			</div>

		</div>
		<!-- /carousel -->
	</div>
	<!-- /container -->
</div>
<!-- /bg_color_1 -->

<div class="call_section_3">
	<div class="wrapper">
		<div class="container clearfix">
			<div class="col-lg-5 col-md-7 float-right">
				<h3>Hãy để chúng tôi giúp bạn tìm bữa trưa</h3>
				<p>Nhà hàng bún đậu mắm tôm bà Thu</p>
				<p><a class="btn_1 add_top_10 wow bounceIn" href="pricing.html" data-wow-delay="0.5s">Xem đánh giá ngay!</a></p>
			</div>
		</div>
		<!-- /container -->
	</div>
</div>
<!-- /call_section -->
