<h2>Danh sách món ăn</h2>
<button type="button" class="btn btn-primary"
  data-toggle="modal" data-target="#newFoodModal">Create new food</button>
<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12">
    <div class="box">
      <!-- /.box-header -->
      <div class="box-body">
        <table id="datatable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Image</th>
              <th>Price</th>
              <th>Restaurant</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @foods.each do |f| %>
            <tr>
              <td><%= f.id %></td>
              <td><%= f.name %></td>
              <td><%= image_tag f.image.url if f.image? %></td>
              <td><%= f.price %></td>
              <td><%= f.restaurant.name %></td>
              <td class="btn-group">
                <button type="button" class="btn btn-success updateFoodBtn"
                  value="<%= f.id %>">Update</button>
                <%= link_to "Destroy", f, method: :delete,
                  data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<div class="modal fade" id="updateFoodModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Update Food</h2>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" id="u_f_id" class="form-control hidden" >
        </div>
        <div class="form-group">
          <label for="name">Food's Name:</label>
          <input type="text" id="u_f_name" class="form-control" >
        </div>
        <div class="form-group">
          <label for="price">Food's Price:</label>
          <input type="text" id="u_f_price" class="form-control" >
        </div>
        <button class="btn btn-primary" id="u_f_btn">Update</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="newFoodModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Create New Food</h2>
      </div>
      <div class="modal-body">
        <%= form_for :food, url: 'foods', method: :POST, :html => {:multipart => true} do |f| %>
          <div class="form-group">
            <label for="restaurant">Select restaurant:</label>
            <%= f.select :restaurant_id,
            options_from_collection_for_select(@restaurants, "id", "name"),
            {}, {class: "form-control select2"} %>
          </div>
          <div class="form-group">
            <label for="name">Food's Name:</label>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="price">Food's Price:</label>
            <%= f.text_field :price, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="image">Food's Image:</label>
            <%= f.file_field :image, class: "form-control" %>
          </div>
          <%= f.submit "Create", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  $(function () {
    $("#datatable").DataTable();
    $(".select2").select2();
  });
</script>
