
<main>
  <h2>Restaurant lists</h2>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin-top: 15px;margin-bottom: 10px;">
    Thêm cửa hàng
  </button>
    <!-- Modal -->
    <%= form_for @restaurant, url: restaurant_index_path(@restaurant) do |f| %>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="top: 40px;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thêm cửa hàng</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="field">
              <p>Tên cửa hàng</p>
              <%= f.text_area :name, placeholder: "name", class: "form-control" %></br>
              <p>Địa chỉ</p>
              <%= f.text_area :address, placeholder: "address", class: "form-control" %></br>
              <p>Số điện thoại</p>
              <%= f.text_area :phone, placeholder: "phone", class: "form-control" %></br>
              <p>Thông tin</p>
              <%= f.text_area :description, placeholder: "description", class: "form-control" %></br>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Thêm", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <table id="datatable" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Ảnh</th>
                <th>Tên nhà hàng</th>
                <th>Số điện thoại</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            <% $count = 0 %>
            <% @all_res.each do |r| %>
            <% if $count < 10 %>
              <tr>
                <td>
                    <figure>
                      <a href="<%= restaurant_path(r) %>">
                        <!-- <img src="img/brands/1.png" alt=""> -->
                        <img src="<%= r.res_images.first() ? r.res_images.first().image : "" %>" alt="" style="width: 150px">
                      </a>
                    </figure>
                </td>
                <td><%= r.name %></td>
                <td><%= r.phone %></td>
                <td><%= r.address %></td>
                <td class="btn-group">
                  <div class="text-left float-lg-right">
                    <%= link_to  "Xem thêm", restaurant_path(r), class: "btn btn-sm  btn-primary small" %>
                  </div>
                  <div class="text-left float-lg-right">
                    <%= link_to  "Xóa", restaurant_path(r), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-sm small btn-danger" %>
                  </div>
                  <div class="text-left float-lg-right">
                    <%= link_to  "Chỉnh sửa", edit_restaurant_path(r), class: "btn btn-sm small btn-warning" %>
                  </div>
                </td>
              </tr>
            <% $count+=1 %>
            <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
<script type="text/javascript">
  $(function () {
    $("#datatable").DataTable();
  });
</script>
</main>
