<h2>Danh sách các giao dịch</h2>
<%= link_to new_transaction_path, class: "btn btn-success" do %>
<i class="fas fa-plus"></i> Thêm giao dịch
<% end %>
<div class="row" style="margin-top: 20px;">
  <div class="col-xs-12">
    <div class="box">
      <!-- /.box-header -->
      <div class="box-body">
        <table id="datatable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tên nhà hàng</th>
              <th>Số tiền</th>
              <th>Thời gian</th>
            </tr>
          </thead>
          <tbody>
            <% if @transactions %>
              <% @transactions.each do |t| %>
              <tr>
                <td><%= t.id %></td>
                <td><%= t.restaurant.name %></td>
                <td><%= t.price %></td>
                <td><%= t.created_at %></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<script type="text/javascript">
  $(function () {
    $("#datatable").DataTable();
  });
</script>
