<main>
  <div class="container margin_80">

    <section class="hero_single version_1_1">
    <div class="wrapper">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <form method="get" action="<%= restaurant_index_path %>">
                <div class="row no-gutters custom-search-input-2">
                  <div class="col-lg-1">
                    <select class="form-control h-100" name="category">
                      <option selected value="0">All</option>
                      <% @all_cate.each do |c| %>
                      <option value="<%= c.id %>"><%= c.name %></option>
                      <% end %>
                    </select>
                  </div>
                  <div class="col-lg-9">
                    <div class="form-group">
                      <input name="name" class="form-control" autocomplete="off"  type="text" placeholder="You are looking for ..." >
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <input type="submit" value="Search">
                  </div>
                </div>
                <!-- /row -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="isotope-wrapper py-3">
      <% $count = 0 %>
      <% @all_res.each do |r| %>
      <div class="company_listing isotope-item high" style="width: 100%">
        <div class="row">
          <div class="col-md-9">
            <div class="company_info">
              <figure>
                <a href="<%= restaurant_path(r) %>">
                  <!-- <img src="img/brands/1.png" alt=""> -->
                  <img src="<%= r.res_images.first().image.url %>" alt="">
                </a>
              </figure>
              <h3><%= r.name %></h3>
              <p>Địa chỉ: <%= r.address %></p>
              <p>Số điện thoại: <%= r.phone %></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="text-center float-lg-right">
              <span class="rating">
                <strong><%= r.comments.count %> comments <%= r.vote_num %>/5.0</strong>
                <% (1..5).each do |i| %>
                  <% if i <= r.vote_num %>
                  <i class="fas fa-star"></i>
                  <% elsif (i - r.vote_num) <1 %>
                  <i class="fas fa-star-half-alt"></i>
                  <% else %>
                  <i class="far fa-star"></i>
                  <% end %>
                <% end %>
              </span>
              <%= link_to  "See more", restaurant_path(r), class: "btn_1 small" %>
            </div>
          </div>
        </div>
      </div>
      <!-- /company_listing -->
      <% end %>
      <%= will_paginate @all_res %>
    </div>
    <!-- /isotope-wrapper -->


  </div>

</main>
