<main>
  <div class="reviews_summary">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h1><%= @res.name %></h1>
            <h6 class="text_white" style="margin-bottom:15px">
              <i class="fa fa-location-arrow"></i>
              <%= @res.address %>
            </h6>
            <h6 class="text_white" style="margin-bottom:15px"><i class="fa fa-phone"></i> 1234567890</h6>
            <h6 class="text_white" style="margin-bottom:15px"><i class="fa fa-tag minmaxpriceicon"></i> 25.000đ - 50.000đ</h6>
            <span class="rating"><i class="fa fa-star"></i><em><%= @res.vote_num %>/5.00</em></span>
          </div>
          <div class="col-lg-4">
            <img src="https://images.foody.vn/res/g96/953948/prof/s640x400/foody-upload-api-foody-mobile-avar166-190906143554.jpg" style="width: 100%">
          </div>
        </div>
      </div>
      <!-- /container -->
    </div>
  </div>
  <!-- /reviews_summary -->

  <div class="container margin_60_35">
    <div class="row">
      <div class="col-lg-9">
        <div class="review_card">
          <div class="row">
            <h5 style="width: 100%; padding: 10px 15px 0px 10px;border-bottom: 1px solid #eee;margin-bottom: 20px;">Mô tả</h5>
            <hr>
          </div>
          <div class="row">
            <p>
              <%= @res.description %>
            </p>
          </div>
        </div>
        <div class="review_card">
          <div class="row">
            <h5 style="width: 100%; padding: 10px 15px 0px 10px;border-bottom: 1px solid #eee;margin-bottom: 20px;">Menu</h5>
            <hr>
          </div>
          <div class="row">
            <% @foods.each do |f| %>
            <div class="col-md-6 my-2 row">
              <div class="col-md-2 user_info">
                <a href="#" data-target="#modalIMG" data-toggle="modal">
                  <figure style="border-radius: 0">
                    <%= image_tag f.image %>
                  </figure>
                </a>
              </div>
							<div class="modal" id="modalIMG" style="background-color: rgba(0, 0, 0, 0.24);">
							    <div class="modal-dialog">
							      <div class="modal-content" style="top: 75px;">
							        <div class="modal-body">
										    <%= image_tag f.image, :style => "width: 100%" %>
							        </div>
							      </div>
							    </div>
							</div>
              <div class="col-md-10 review_content">
                <h6><%= f.name %></h6>
                <h6><i class="fa fa-tag minmaxpriceicon"></i> <%= f.price %> đ</h6>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <div class="review_card digg_pagination">
          <div class="row">
            <h5 style="width: 100%; padding: 10px 15px 0px 10px;border-bottom: 1px solid #eee;margin-bottom: 20px;">Bình luận</h5>
            <hr>
          </div>
          <% @res_comments.each do |r_c| %>
          <div class="row"  style="padding-bottom: 15px;">
            <div class="col-md-2 user_info">
                <% if r_c.user.avatar.attached? %>
                  <%= image_tag r_c.user.avatar.variant(resize: "32x32!"), class: "rounded-circle" %>
                <% else %>
                  <%= image_tag gravatar_image_url(r_c.user.email, size: 32), height: 32, width: 32, class: "rounded-circle" %>
                <% end %>
              </figure>
              <h5><%= r_c.user.username %></h5>
            </div>
            <div class="col-md-10 review_content">
              <div class="clearfix add_bottom_15">
                <span class="rating">
                  <% if r_c.user.votes.find_by(restaurant_id: @res.id) %>
                  <i class="fa fa-star"></i>
                  <em><%= r_c.user.votes.find_by(restaurant_id: @res.id).star_num %> / 5</em>
                  <% end %>
                </span>
                <em><%= time_ago_in_words(r_c.created_at) %></em>
              </div>
              <div class="row">
                <p><%= r_c.content %></p>
                <% if r_c.user == current_user %>
                <div class="ml-auto">
                  <%= button_to r_c, method: :delete,
                    class: "btn btn-danger", data: { confirm: "Bạn có chắc chắn muốn xoá?" } do%>
                  <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
          <!-- /row -->
          <%= will_paginate @res_comments %>
        </div>
      </div>
      <!-- /col -->
      <div class="col-lg-3">
        <%= render "restaurant/layouts/review" %>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

</main>
